.bitrate-btn {
	text-decoration: none;
	color: white;
	font-size: 10px;
	font-weight: 300;
	height: auto;
	display: inline-block;
	text-align: center;
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	margin-bottom: 5px;
	width: 30px;
	-webkit-transition: all .20s ease;
	transition: all .20s ease
}

.bitrate-btn:hover {
	color: #7092BF;
	-webkit-transition: all .20s ease;
	transition: all .20s ease
}

.bitrate-btn.round {
	border-radius: 3px
}

.bitrate-btn.pill {
	border-radius: 16px
}

.btn-group>.bitrate-btn.round:not(:first-child):not(:last-child),
.btn-group>.bitrate-btn.pill:not(:first-child):not(:last-child) {
	border-radius: 0
}

.btn-group>.bitrate-btn.round:first-child,
.btn-group>.bitrate-btn.pill:first-child {
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0
}

.btn-group>.bitrate-btn.round:last-child,
.btn-group>.bitrate-btn.pill:last-child {
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0
}

.btn-group .bitrate-btn+.bitrate-btn {
	margin-left: -1px
}

.bitrate-btn.br_selected,
.active {
	color: #7092BF
}

#rangeP {
	-webkit-appearance: none;
	appearance: none;
	padding: 0;
	border: none;
	box-shadow: none;
	background: white;
	overflow: hidden;
	outline: none
}

#rangeP::-moz-range-thumb {
	box-shadow: none
}

#rangeP::-moz-range-track {
	background: none;
	border: none
}

#rangeP::-webkit-slider-thumb {
	width: 15px;
	height: 15px;
	border: none;
	background-image: none;
	box-shadow: -13px 0 #40310a, -26px 0 #40310a, -39px 0 #40310a, -52px 0 #40310a, -65px 0 #40310a, -78px 0 #40310a, -91px 0 #40310a, -104px 0 #40310a, -117px 0 #40310a, -130px 0 #40310a, -143px 0 #40310a, -156px 0 #40310a
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes bounceInUp {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0)
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

@keyframes bounceInUp {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0)
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

.bounceInUp {
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp
}

@-webkit-keyframes flip {
	0% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	40% {
		-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	50% {
		-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	80% {
		-webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
		transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
}

@keyframes flip {
	0% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	40% {
		-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}
	50% {
		-webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	80% {
		-webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
		transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
	100% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}
}

.animated.flip {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation-name: flip;
	animation-name: flip
}

@-webkit-keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
		opacity: 0
	}
	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in
	}
	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1
	}
	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
	}
	100% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px)
	}
}

@keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
		opacity: 0
	}
	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in
	}
	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1
	}
	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
	}
	100% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px)
	}
}

.flipInX {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX
}

@-webkit-keyframes flipInY {
	0% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
		opacity: 0
	}
	40% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in
	}
	60% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1
	}
	80% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
	}
	100% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px)
	}
}

@keyframes flipInY {
	0% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
		opacity: 0
	}
	40% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in
	}
	60% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1
	}
	80% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg)
	}
	100% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px)
	}
}

.flipInY {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	animation-name: flipInY
}

@-webkit-keyframes flipOutX {
	0% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px)
	}
	30% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		opacity: 1
	}
	100% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		opacity: 0
	}
}

@keyframes flipOutX {
	0% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px)
	}
	30% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		opacity: 1
	}
	100% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		opacity: 0
	}
}

.flipOutX {
	-webkit-animation-name: flipOutX;
	animation-name: flipOutX;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important
}

@-webkit-keyframes flipOutY {
	0% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px)
	}
	30% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
		opacity: 1
	}
	100% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		opacity: 0
	}
}

@keyframes flipOutY {
	0% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px)
	}
	30% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
		opacity: 1
	}
	100% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		opacity: 0
	}
}

.flipOutY {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipOutY;
	animation-name: flipOutY;
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}

@-webkit-keyframes bounceOut {
	20% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9)
	}
	50%,
	55% {
		opacity: 1;
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3)
	}
}

@keyframes bounceOut {
	20% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9)
	}
	50%,
	55% {
		opacity: 1;
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3)
	}
}

.bounceOut {
	-webkit-animation-name: bounceOut;
	animation-name: bounceOut;
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}

@-webkit-keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	40%,
	45% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0)
	}
}

@keyframes bounceOutDown {
	20% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	40%,
	45% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(0, 2000px, 0);
		transform: translate3d(0, 2000px, 0)
	}
}

.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
	animation-name: bounceOutDown
}

@-webkit-keyframes bounceOutLeft {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(20px, 0, 0);
		transform: translate3d(20px, 0, 0)
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0)
	}
}

@-webkit-keyframes bounceIn {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3)
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9)
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03)
	}
	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

@keyframes bounceIn {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3)
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9)
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03)
	}
	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s
}

@-webkit-keyframes bounceInDown {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}
	100% {
		-webkit-transform: none;
		transform: none
	}
}

@keyframes bounceInDown {
	0%,
	60%,
	75%,
	90%,
	100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0)
	}
	100% {
		-webkit-transform: none;
		transform: none
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html,
body {
	
	background-image: url("../pics/asfalt.png");
	background-size: 100px;
	margin: none !important
}

body {
	overflow: hidden
}

aside {
	height: 80%;
	width: calc((4 / 37) * 100%);
	display: inline-block;
	padding-top: 60px
}

aside.left {
	float: left
}

aside.right {
	float: right
}

aside .content {
	width: 100%
}

.center {
	margin: auto 0;
	text-align: center;
	display: block;
	width: 45%
}

.center::after {
	clear: both;
	content: "";
	display: table
}

.left-column {
	display: inline-block;
	width: 60%;
	text-align: left;
	margin-right: 13px
}

.left-column::after {
	clear: both;
	content: "";
	display: table
}

.right-column {
	display: inline-block;
	text-align: center;
	width: 30%;
	margin-left: 13px
}

.right-column::after {
	clear: both;
	content: "";
	display: table
}

.rc {
	width: 100%;
	z-index: 11;
}

.about {
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	color: white;
	font-size: 0.9em;
	line-height: 1.2;
	text-align: justify;
	padding-right: 2%;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300
}

@media (max-width: 1350px) {
	.about {
		font-size: 0.8em
	}
}

@media (max-width: 1200px) {
	.about {
		font-size: 0.7em
	}
}

@media (max-width: 1024px) {
	.about {
		font-size: 0.6em
	}
}

#play_btn {
	color: white;
	margin: 5px auto
}

.fa-play {
	font-size: 2em !important;
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 2em;
	color: #fff;
	border: 4px solid white;
	border-radius: 4em;
	padding-top: 0.4em;
	vertical-align: middle
}

.fa-stop,
.fa-play {
	-webkit-transition: all 2s ease;
	transition: all 2s ease
}

.song {
	color: white;
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif
}

.song_author,
.song_name {
	width: 126% !important;
	margin-left: -13% !important
}

.song_author,
footer .mail {
	font-size: 0.8em;
	margin: 5px auto 0;
	line-height: normal;
	display: inline-block;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 15px
}

.mail {
	color: white;
	-webkit-transition: all .25s ease;
	transition: all .25s ease
}

.mail:hover {
	color: #7092BF;
	-webkit-transition: all .25s ease;
	transition: all .25s ease
}

.song_name,
footer .copy {
	line-height: normal;
	font-weight: 300;
	display: inline-block;
	font-size: 0.7em;
	margin: 5px auto 0;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 13px
}

.fa-volume-up {
	color: white
}

.logo {
	z-index: 7;
	width: 100%;
	left: 25%;
}

.js div.photopile-wrapper::after {
	clear: both;
	content: "";
	display: table
}

.players {
	margin: 10px auto 0
}

.players a img {
	width: 20px;
	margin: 0 1px;
	opacity: 0.3;
	-webkit-transition: all .25s ease;
	transition: all .25s ease
}

.players a img:hover {
	opacity: 1;
	-webkit-transition: all .25s ease;
	transition: all .25s ease
}

.urls a {
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	color: white;
	text-decoration: none;
	margin: 20px;
	font-size: 0.7em;
	font-weight: 300;
	-webkit-transition: all .25s ease;
	transition: all .25s ease
}

.urls a:hover {
	color: #c0b8b8;
	-webkit-transition: all .25s ease;
	transition: all .25s ease
}

.bx-pager {
	width: 90%;
	margin: auto
}

@media (max-height: 770px) {
	.bx-pager {
		width: 100%
	}
}

.bx-pager a img {
	height: 60px;
	margin: 10px 5px 5px;
	text-align: center
}

.fa-angle-left,
.fa-angle-right {
	color: white;
	margin-top: 25px;
	position: absolute !important
}

@media (max-height: 770px) {
	.fa-angle-left,
	.fa-angle-right {
		margin: 18px 20px
	}
}

.fa-angle-right {
	float: right
}

.fa-angle-left {
	float: left
}

.bx-wrapper .bx-viewport ul li img {
	margin: auto;
	max-height: 520px !important
}

@media (max-height: 770px) {
	.bx-wrapper .bx-viewport ul li img {
		height: 390px !important
	}
}

@media (max-height: 640px) {
	.bx-wrapper .bx-viewport ul li img {
		height: 370px !important
	}
}

.bx-viewport {
	border: none !important;
	position: initial;
	box-shadow: none !important;
	background-image: url("../pics/asfalt.png") !important
}

.bx-wrapper {
	width: 100% !important;
	max-width: none !important;
	margin-bottom: 200px !important
}

.photo-gallery {
	right: 0;
	margin-bottom: 200px
}

.photo-gallery::after {
	clear: both;
	content: "";
	display: table
}

footer {
	color: white;
	font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
	font-size: 1;
	clear: both;
	font-weight: 300;
	line-height: 1;
	text-align: center;
	padding: 100px 0 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0
}

footer .mail {
	color: white;
	text-decoration: none
}

footer .copy {
	font-size: 0.7em;
	font-weight: 300;
	display: none;
}

.bxslider li {
	width: 70% !important;
	position: relative !important;
	margin: 60px auto !important;
	background-image: url("../pics/asfalt.png")
}

.bxslider li img {
	height: 590px
}

.bx-prev {
	color: white;
	background: url(images/controls.png) no-repeat 0 -32px
}

#pager a img {
	height: 85px;
	width: 85px;
	border: 1px solid transparent
}

@media (max-height: 770px) {
	#pager a img {
		height: 70px;
		width: 70px
	}
}

#pager {
	text-align: center
}

a.activated img {
	border: 1px solid #fff !important;
	-webkit-transition: all .900s ease;
	transition: all .900s ease
}

#bx-pager {
	opacity: 0;
	cursor: default;
	-webkit-transition: all .25s ease;
	transition: all .25s ease
}

#bx-pager:hover {
	opacity: 1;
	-webkit-transition: all .25s ease;
	transition: all .25s ease
}

#bx-pager.clicked {
	opacity: 1 !important
}

#bx-pager.normhov {
	opacity: 1
}

.bx-wrapper {
	display: none
}

.ui-slider-handle {
	display: none !important
}

.ui-slider-range-min {
	background: #7092BF !important
}

#slider-1,
#slider-3,
#slider-4 {
	border: none;
	height: .40em;
	width: 90%;
	border-radius: none;
	display: inline-block;
	margin: 5px;
	margin-right: 0;
	margin-left: 0;
	cursor: pointer
}

.ui-corner-all {
	border: none !important;
	border-bottom-right-radius: none !important
}

.speaker {
	height: 16px
}

.fill {
	margin-top: 5px;
	margin-top: 5px;
	text-align: left
}

.sp {
	width: 10%;
	display: inline-block;
	text-align: left
}

.spinner {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 100px auto
}

.double-bounce1,
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s
}

@-webkit-keyframes bounce {
	0%,
	100% {
		-webkit-transform: scale(0)
	}
	50% {
		-webkit-transform: scale(1)
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: scale(0);
		-webkit-transform: scale(0)
	}
	50% {
		transform: scale(1);
		-webkit-transform: scale(1)
	}
}

.bxslider,
.bxslider li {
	-webkit-padding-start: 0 !important
}

.bxslider {
	margin: -45px
}

.chitikaAdContainer {
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 auto !important;
	z-index: 10;
	height: 90px
}

.bx-wrapper .bx-prev {
	background: url(../images/arrow-left.png) no-repeat !important;
	width: 38px !important;
	height: 62px !important
}

.bx-wrapper .bx-next {
	background: url(../images/arrow-right.png) no-repeat !important;
	width: 38px !important;
	height: 62px !important
}

.bx-wrapper .bx-controls-direction a {
	margin-top: -30px !important
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #131314;
	z-index: 99
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-position: center;
	margin: -100px 0 0 -100px
}

