@keyframes loading {
  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

body {
  min-width: 320px;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background: url('../pics/asfalt.png') 50% 50% repeat;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background: none;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  width: 100vw;
  height: 100vh;
  background: url('../pics/background.webp') top / cover no-repeat;
  animation: scale 10s ease-out;
}

.player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.player__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.player__play-button {
  position: relative;
  width: 80px;
  height: 80px;
  min-width: 80px;
  cursor: pointer;
}

.player__play-button img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.1s linear;
}

.hidden {
  opacity: 0;
}

.loading {
  animation: loading 1s linear infinite;
}

.player__meta {
  text-align: center;
  color: #fff;
}

.player__meta-artist {
  font-size: 14px;
}

.player__volume-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type='range'] {
  overflow: hidden;
  width: 200px;
  -webkit-appearance: none;
  background-color: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 6px;
  width: 100%;
  -webkit-appearance: none;
  background: #fff;
  cursor: pointer;
}

input[type='range']::-moz-range-track {
  height: 6px;
  width: 100%;
  -webkit-appearance: none;
  background: #fff;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  width: 0;
  -webkit-appearance: none;
  height: 6px;
  cursor: pointer;
  box-shadow: -200px 0 0 200px #7092bf;
}

input[type='range']::-moz-range-thumb {
  width: 0;
  border: none;
  cursor: pointer;
}

input[type='range']::-moz-range-progress {
  height: 6px;
  background-color: #7092bf;
  cursor: pointer;
}

input[type='range']::-moz-range-track {
  background-color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .background {
    background: url('../pics/background.webp') left top / cover no-repeat;
  }
}
