@keyframes loading {
  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

body {
  min-width: 320px;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background: url('../pics/asfalt.png') 50% 50% repeat;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background: none;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player__play-button {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.player__play-button img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s linear;
}

.hidden {
  opacity: 0;
}

.loading {
  animation: loading 1s linear infinite;
}

.player__meta {
  text-align: center;
  color: #fff;
}

.player__meta-artist {
  font-size: 16px;
}
